#carouselExample {
    z-index: 1;
    flex-wrap: wrap;
}

.cover-title {
    background-color:rgba(218, 68, 83, 0.7);
    width: fit-content;
}

.cover-body {
    background-color: rgba(59, 59, 59, 0.8);
}



.carousel:hover .cover-title {
    background-color: #363636;
}



