.marcxena_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}
.container{
    width: auto;
    padding: 10px;
    height: auto;
    
}
.main-header-container{
    width: auto;
    height: auto;
    border: 1px solid rgb(255, 255, 255);
    border: 2px solid rgb(30, 30, 31);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    
}
.filter-input-div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}