<app-carousel-menu></app-carousel-menu>

<div class="filter-input-container">
    <app-filter-input (textEmitter)="textEmitterSub($event)"></app-filter-input>
</div>      



<h2 style="display: flex; align-items: center; justify-content: center; margin-top: 30px; text-decoration: overline double; " >Categories</h2> 
<div class="cards_container">
    <div class="center_container" style="border: 1px solid black; width: auto; border-radius: 3px;">
        <ng-container *ngIf="categories$ | async as cat;else loading">
            <ng-container *ngFor="let element of cat">
                <button type="button" [routerLink]="'/category/' + element" class="btn  text-capitalize" [class]="selectedCategory$==element ? ' btn-primary':'btn-light'">{{element}}</button>
            </ng-container>
        </ng-container>
        
        <!-- : ახალის და ძველის დალაგება -->
        
        <!-- <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-primary">New</button>
            <button type="button" class="btn btn-outline-primary">Old</button>
          </div> -->
    </div>
    
</div>

<div class="cards_container">
    <div class="center_container">
            <ng-container *ngIf="data$ | async as products;else loading">
                <ng-container *ngFor="let element of products | filterPipe:SearchText">
                    <app-card [card] = "element"> </app-card>
                </ng-container>
            </ng-container>
        </div> 
    </div>




<ng-template #loading>
    <h3 style="text-align: center;">loading...</h3>
</ng-template>



<app-footer></app-footer>
